<div class="small-version" style="display: inline-block;">
    <div class="stars-container"><span class="yotpo-stars carousel-stars"> <span
            class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span
            class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span
            class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span
            class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span
            class="yotpo-icon yotpo-icon-star rating-star pull-left"></span><span class="sr-only">5.0 star rating</span> </span>
        <span class="carousel-review-date"> 08/18/20 </span></div>
    <div class="carousel-review-title" full-headline="Otto's is the best!"> Otto's is the best!</div>
    <a class="product-link-container" href="https://yotpo.com/go/zFwwF38V" target="_blank" rel="nofollow">
        <div class="product-image-container pull-left">
            <div class="y-carousel-product-image" style="border: 1px solid #e1e5ee;"><img
                    src="//cdn-yotpo-images-production.yotpo.com/Product/173339243/118422769/square.jpg?1622666134"
                    alt="Product image for Otto's Naturals - Cassava Flour"></div>
            <div class="product-name carousel-review-product-text" style="text-decoration: none;">Otto's Naturals -
                Cassava Flour
            </div>
        </div>
    </a>
    <div class="right-side pull-right">
        <div class="carousel-review-body ">I love this company, and I love this product! I've been using Otto's cassava
            flour for years to manage highly reactive celiac dise...
            <div class="carousel-read-more">Read More</div>
        </div>
        <div class="carousel-review-author">Angela C.</div>
    </div>
</div>