{% extends "layout.html" %}

{% block content %}
<a href="{{ url_for('add_book') }}">Add Book</a>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Book Number</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author</th>
      <th scope="col">Added by</th>
      <th scope="col">Received Date</th>
    </tr>
  </thead>
  <tbody>
  {% for book in books.items %}
    <tr>
      <th  scope="row">{{ book.id }}</th>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.user.username }}</td>
      <td>{{ book.received_date }}</td>

        {% if current_user.id == book.user.id %}
      <td>
          <a href="{{ url_for('update_book', book_id=book.id) }}">Edit</a>
        </td>
      <td>
        <a href="{{ url_for('delete_book_confirmation', book_id=book.id) }}">Delete</a>
      </td>
        {% endif %}

    </tr>
  {% endfor %}
  </tbody>
</table>
  {% for book_page in books.iter_pages() %}
  {% if book_page == None %}
    ...
  {% else %}
    <a href="{{ url_for('book_manager', page=book_page) }}">{{ book_page }}</a>
  {% endif %}
  {% endfor %}
{% endblock %}